<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="secureNetId" value="rherst15" />
    <add key="secureKey" value="HxHpjaQ8l0Al" />
    <add key="mode" value="live" />
    <!--<add key="endpoint" value="http://localhost:9090"/>-->
    <add key="endpoint" value="https://gwapi.securenet.com" />
    <add key="timeout" value="60000" />
    <add key="connectionTimeout" value="60000" />
    <add key="developerId" value="1234" />
    <add key="versionId" value="121" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
